* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

html,
body {
    overflow: hidden;
}

header {
    color: rgb(49, 48, 48);
    padding: 0.5rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid gray;
    justify-content: space-between;
}

header div {
    display: flex;
    align-items: center;
}

h3 {
    font-weight: 400;
    font-size: 0.8rem;
}

.spinning {
    animation: logo-spin 8s infinite 0s cubic-bezier(0.38, 0.01, 0, 0.99);
}

@keyframes logo-spin {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.logo {
    width: 2rem;
    height: 2rem;
    margin: 0 1rem;
    transition: all 0.3s ease 0s;
}

#three-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    outline: none;
}

#file-input {
    margin: 1rem;
    float: right;
}

.hidden {
    visibility: collapse;
}

.label {
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 8px;
    backdrop-filter: blur(8px);
    border-radius: 1rem;
    pointer-events: all;
}

.label-container {
    pointer-events: all;
    display: flex;
    align-items: center;
}

.delete-button {
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 6px;
    border-radius: 1rem;
    border: none;
    margin-right: 8px;
    height: 1.5rem;
}

.delete-button {
    cursor: pointer;
}

/*Tree view: https://www.w3schools.com/howto/howto_js_treeview.asp*/

.ifc-tree-menu {
    position: absolute;
    overflow-y: scroll;
    background-color: white;
    height: 100vh;
}

li ul {
    user-select: none;
    cursor: pointer;
}

/* Remove default bullets */
ul,
#myUL {
    list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#myUL {
    margin: 0.5rem;
    padding: 0;
}

/* Style the caret/arrow */
.caret {
    cursor: pointer;
    user-select: none;
    /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
    transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
    display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
    display: block;
    margin-left: 10px;
}